{% block subject %}
Активация учетной записи "{{ site_name }}"
{% endblock subject %}

{% block text_body %}
Вы получили это сообщение так как на ваш электронный почтовый адрес была зарегистрирована учетная запись на сайте "{{ site_name }}".
Если вы не совершали регистрацию, просто удалите это письмо.

Чтобы активировать Вашу учетную запись, пожалуйта пройдите по следующей ссылке:
https://{{ domain }}/{{ url|safe }}

Пользуйтесь с удовольствием!

Администрация сайта "{{ site_name }}"
{% endblock text_body %}

{% block html_body %}
<p>
    Вы получили это сообщение так как на ваш электронный почтовый адрес была зарегистрирована учетная запись на сайте "{{ site_name }}".
    <br>
    Если вы не совершали регистрацию, просто удалите это письмо.
</p>

<p>Чтобы активировать Вашу учетную запись, пожалуйта пройдите по следующей ссылке:</p>
<p><a href="https://{{ domain }}/{{ url|safe }}">https://{{ domain }}/{{ url|safe }}</a></p>

<p>Пользуйтесь с удовольствием!</p>

<p>Администрация сайта "{{ site_name }}"</p>

{% endblock html_body %}